# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
.env

# Docker
*.log
docker-compose.override.yml

# IDEs
.vscode/
.idea/

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo

# Distribution / packaging
build/
dist/
*.egg-info/

# Uploads folder (if you want to exclude uploaded files)
uploads/

# OS files
.DS_Store
Thumbs.db